.product
{
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-right: 5px;
    margin-left: 200px;
}

.name

{
    margin-left: 10px;
    font-size: 10px;
}

.cartbutton
{
background-color: darksalmon;
width: 150px;
color:black;
}
